on early-boot
    # Backlight permissions
    chown system system /sys/class/leds/button-backlight/brightness
    chmod 660 /sys/class/leds/button-backlight/brightness

service vendor.light /vendor/bin/hw/android.hardware.lights-service.pro1x
    class hal
    user system
    group system
    shutdown critical
